.account-form:first-child {
  margin-top: 20px;
}

.account-form {
  border-radius: 10px;

  width: 350px;
  margin-left: auto;
  margin-right: auto;

  padding: 16px;
}

.account-form input[type="email"],
.account-form input[type="password"],
.account-form input[type="text"] {
  width: 100%;
}

