/* 
  This css should be applied to all pages 
  It styles the page background and header/navbar
*/

#header {
  background-color: rgb(26, 28, 39);
}

body {
  background-color: rgb(15, 16, 20);
  color: rgb(204, 204, 204);
  padding-top: 0px;
}
