/* 
  This css should be applied to all pages 
  It styles the page background and header/navbar
*/

.teamify-primary-colour {
  background-color: rgb(21, 25, 36);
}

body {
  background-color: rgb(15, 16, 20);
  color: rgb(204, 204, 204);
  padding-top: 0px;
}
