{% extends "base.html" %}

{% block css %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
<main class="container">
    <form id="sign-up" onsubmit="return validateSignup(id)">
      <h1 class="text-center">Sign Up</h1>
      <label for="new-email"> Email: </label>
      <input type="email" id="new-email" autocomplete="email">
      <br><br>
      <label for="new-username"> Username: </label>
      <input type="text" id="new-username" autocomplete="username">
      <br><br>
      <label for="new-password"> Password: </label>
      <input type="password" id="new-password" autocomplete="new-password">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <form id="login" onsubmit="return validateSignup(id)">
      <h1 class="text-center">Login</h1>
      <label for="username"> Username: </label>
      <input type="text" id="username" autocomplete="username">
      <br><br>
      <label for="password"> Password: </label>
      <input type="password" id="password" autocomplete="current-password">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </main>
{% endblock %}

{% block bodyScripts %}
  <script src="static/scripts/account-creation.js"></script>
{% endblock %}
