{% extends "base.html" %}

{% block css %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
  <form id="sign-up" onsubmit="return validateSignup(id)">
    <h1>Sign Up</h1>
    <label for="new-email"> Email: </label>
    <input type="email" id="new-email">
    <br><br>
    <label for="new-username"> Username: </label>
    <input type="text" id="new-username">
    <br><br>
    <label for="new-password"> Password: </label>
    <input type="text" id="new-password">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <br>
  <form id="login" onsubmit="return validateSignup(id)">
    <h1>Login</h1>
    <label for="username"> Username: </label>
    <input type="text" id="username">
    <br><br>
    <label for="password"> Password: </label>
    <input type="text" id="password">
    <br><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}

{% block bodyScripts %}
  <script src="static/scripts/account-creation.js"></script>
{% endblock %}
