{% extends "base.html" %}

{% block css %}{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
  <main id="content" class="container">
      <div class="row">
        <div class="col-xs-12 min-vh-100" align="center">
          <h1>Introduction</h1>
          <p>
            welcome aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa asdijf aosdf
            joasipoaisdf oasi df afao fjasfop asdijf aosdf joasipoaisdf oasi df
            afao fjasfop asdijf aosdf joasipoaisdf oasi df afao fjasfop asdijf
            aosdf joasipoaisdf oasi df afao fjasfop asdijf aosdf joasipoaisdf
            oasi df afao fjasfop
          </p>
        </div>
      </div>
    </main>
{% endblock %}

{% block bodyScripts %}{% endblock %}
