{% extends "base.html" %}

{% block css %}{% endblock %}

{% block headScripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="static/scripts/lobby-card.js"></script>
{% endblock %}

{% block content %}
<main class="container">
  <h1 class="text-center">Search Lobbies</h1>

  <form id="lobby-search" class="row justify-content-center" action="lobby-searching.html" method="GET">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input type="text" placeholder="Lobby content" aria-label="Lobby content" name="search" class="form-control">
        <button type="submit" aria-label="Submit search" class="btn btn-outline-secondary">
          <i class="bi bi-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <section id="lobbies" class="row"></section>
</main>
{% endblock %}

{% block bodyScripts %}
<script src="static/scripts/lobby-searching.js"></script>
{% endblock %}
