{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/pages.css">
{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
<div id="lobby-making" class="container">
  <h2 id="lobby-making-title">Creating Lobby</h2>
  <form id="lobby-making-form" method="post">
    <div class="row">
      <div class="col-sm-4">
        <h4>Game Description</h4>
        {{ lobby_making_form.game_select.label(class="game-list") }}
        {{ lobby_making_form.game(class="game-list") }}
        <datalist id="game-options">
          {{ lobby_making_form.game_select(class="game-list") }}
        </datalist>
        <br><br>
        {{ lobby_making_form.lobby_name.label }}
        {{ lobby_making_form.lobby_name() }}
        <br><br>
        {{ lobby_making_form.lobby_description.label }}
        {{ lobby_making_form.lobby_description() }}
        <br><br>
        {{ lobby_making_form.capacity.label }}
        {{ lobby_making_form.capacity() }}
      </div>
      <div class="col-sm-4">
        <h4>Tags</h4>
        <h6>Optional Fields</h6>
        <br>
        <div id="custom-tags"></div>
        {{ lobby_making_form.tag1() }}
        <br><br>
        {{ lobby_making_form.tag2() }}
        <br><br>
        {{ lobby_making_form.tag3() }}
      </div>

      <div class="col-sm-4">
        <h4>Time Allocation Options</h4>

        <div id="mon-section">
          <input type='checkbox' id="mon-checkbox" onclick="showGeneral('mon')">
          <label for="mon-checkbox">Monday</label>
          <div id="mon" class="not-showing">
            {{ lobby_making_form.mon_from.label }}
            {{ lobby_making_form.mon_from() }}

            {{ lobby_making_form.mon_to.label }}
            {{ lobby_making_form.mon_to() }}
          </div>
        </div>
        <br>

        <div id="tue-section">
          <input type='checkbox' id="tue-checkbox" onclick="showGeneral('tue')">
          <label for="tue-checkbox">Tuesday</label>
          <div id="tue" class="not-showing">
            {{ lobby_making_form.tue_from.label }}
            {{ lobby_making_form.tue_from() }}
            
            {{ lobby_making_form.tue_to.label }}
            {{ lobby_making_form.tue_to() }}
          </div>
        </div>
        <br>

        <div id="wed-section">
          <input type='checkbox' id="wed-checkbox" onclick="showGeneral('wed')">
          <label for="wed-checkbox">Wednesday</label>
          <div id="wed" class="not-showing">
            {{ lobby_making_form.wed_from.label }}
            {{ lobby_making_form.wed_from() }}
            
            {{ lobby_making_form.wed_to.label }}
            {{ lobby_making_form.wed_to() }}
          </div>
        </div>
        <br>

        <div id="thu-section">
          <input type='checkbox' id="thu-checkbox" onclick="showGeneral('thu')">
          <label for="thu-checkbox">Thursday</label>
          <div id="thu" class="not-showing">
            {{ lobby_making_form.thu_from.label }}
            {{ lobby_making_form.thu_from() }}
            
            {{ lobby_making_form.thu_to.label }}
            {{ lobby_making_form.thu_to() }}
          </div>
        </div>
        <br>

        <div id="fri-section">
          <input type='checkbox' id="fri-checkbox" onclick="showGeneral('fri')">
          <label for="fri-checkbox">Friday</label>
          <div id="fri" class="not-showing">
            {{ lobby_making_form.fri_from.label }}
            {{ lobby_making_form.fri_from() }}
            
            {{ lobby_making_form.fri_to.label }}
            {{ lobby_making_form.fri_to() }}
          </div>
        </div>
        <br>

        <div id="sat-section">
          <input type='checkbox' id="sat-checkbox" onclick="showGeneral('sat')">
          <label for="sat-checkbox">Saturday</label>
          <div id="sat" class="not-showing">
            {{ lobby_making_form.sat_from.label }}
            {{ lobby_making_form.sat_from() }}
            
            {{ lobby_making_form.sat_to.label }}
            {{ lobby_making_form.sat_to() }}
          </div>
        </div>
        <br>

        <div id="sun-section">
          <input type='checkbox' id="sun-checkbox" onclick="showGeneral('sun')">
          <label for="sun-checkbox">Sunday</label>
          <div id="sun" class="not-showing">
            {{ lobby_making_form.sun_from.label }}
            {{ lobby_making_form.sun_from() }}
            
            {{ lobby_making_form.sun_to.label }}
            {{ lobby_making_form.sun_to() }}
          </div>
        </div>
        <br>

      </div>
    </div>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}

{% block bodyScripts %}
<script src="static/scripts/lobby-making.js"></script>
{% endblock %}