<article class="col-sm-4">
    <div class="card bg-dark text-light">
        <div class="card-body">
            <h3 class="game-name">Game 3</h3>
            <p class="lobby-description">Lobby 3 description.</p>
            <div class="lobby-host">Host Username</div>
            <div class="lobby-other-players">
                Player 1, Player 2, Player 3
            </div>
            <p class="time-available">SUN 1pm-5pm</p>
            <!--Maybe show next available time-->
        </div>
    </div>
</article>