{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/lobby-view.css">
{% endblock %}

{% block headScripts %}
<script src="static/scripts/lobby-card.js"></script>
{% endblock %}

{% block content %}
<main class="container">
  <h1 class="text-center">My Lobbies</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <section id="lobbies" class="row"></section>
</main>
{% endblock %}

{% block bodyScripts %}
<script src="static/scripts/my-lobbies.js"></script>
{% endblock %}
