{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="static/css/lobby-view.css">
{% endblock %}

{% block headScripts %}{% endblock %}

{% block content %}
  <main class="container">
    <h1 class="text-center">My Lobbies</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">MinecraftLobby#64</h5>
            <p class="card-text">Lobby description</p>
            <a href="lobby-view.html" class="card-link">View</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">FortniteLobby#73</h5>
            <p class="card-text">(Developer note: Admin button is available here to show how a user might interact with a lobby they own)</p>
            <a href="lobby-view.html" class="card-link">View</a>
            <a href="admin.html" class="card-link">Admin</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">ValorantLobby#99</h5>
            <p class="card-text">Lobby description</p>
            <a href="lobby-view.html" class="card-link">View</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block bodyScripts %}{% endblock %}
